- var sec8Partners = [];
- sec8Partners.push({img: "1", name:"Алексей Мертехин",adress:"Пермь, ул. Газеты Звезда, д.13",opened:"август 2015",title:"За время нашего сотрудничества мы стали настоящими экспертами в области франчайзинга",text:['Благодарим головной офис компании "Франчайзинг5" от всего коллектива "Франчайзинг5 Пермь" за максимальную поддержку и регулярное сопровождение. В любой момент можно позвонить и проконсультироваться по возникшим вопросам. За работу профессионалов, команду сплоченных и целеустремленных людей.', 'За время нашего сотрудничества, мы стали настоящими экспертами в области франчайзинга, научились наблюдать специфику рынка и видеть любой бизнес изнутри. Приятно быть частью огромной семьи. Спасибо Ф5 за возможность развиваться каждый день!'],profit:"320 000",packaged:"25"});

- sec8Partners.push({img: '2', name:"Наталья Кальмина",adress:"Новосибирск, ул. Ядринцевская, д.53/1, оф 60",opened:"июль 2015",title:"Мы вместе делаем очень нужное дело",text:['Очень рада сотрудничеству с компанией "Франчайзинг5", мы вместе делаем очень нужное дело в нужное время, помогая себе и другим развиваться и становиться известными не только у себя в регионе, но и по России и СНГ.'],profit:"330 000",packaged:"15"});

- sec8Partners.push({img: '3', name:"Наталья Татаркина",adress:"Ижевск, ул. Ворошилова, д.109а",opened:"декабрь 2015",title:'До знакомства с "Франчайзинг5" я ничего не знала о франчайзинге',text:['Наше сотрудничество с компанией "Франчайзинг5" началось в декабре 2015 года. До этого момента у меня не было опыта работы по франшизе и представления о том, что представляет собой рынок франчайзинга в России в целом. В течение года я целенаправленно выбирала франшизу, которая не только приносит прибыль, но и дарит удовольствие от работы. Мой выбор остановился на "Франчайзинг5".', 'За время нашего плодотворного сотрудничества, я стала специалистом в сфере франчайзинга, научившись эффективно проводить встречи на самом высоком уровне и заключать договоры с шестизначными числами. Спустя полгода от начала работы, я могу назвать себя профессионалом своего дела. Спасибо "Франчайзинг5" за успешное партнерство!'],profit:"230 000",packaged:"15"});

- sec8Partners.push({name:"Евгений Золотарев",adress:"ул. Бакунина, д.45, оф 215",opened:"июнь 2015",title:'Когда я познакомился с компанией "Франчайзинг5" и лично с Артемом Захаровым, стало понятно: это мое',text:['Франчайзингом интересуюсь довольно давно. Более 15 лет сам являлся франчайзи одной из самых известных российских франшиз. Когда я познакомился с компанией "Франчайзинг5" и лично с Артемом Захаровым, стало понятно: это — моё. Это — то, чем интересно заниматься, чем хочется. Есть, где применить знания и опыт. И получать достойное вознаграждение за свою работу.', 'Радует, что и наши клиенты буквально с полуслова понимают свою выгоду и перспективы во франчайзинге. Ведь собственная франшиза нужна каждому успешному бизнесу. Уверен, что число компаний, созревших для франшизы, будет только расти. А это значит, что будущее компании "Франчайзинг5", а вместе с ней и моё, - весьма оптимистичное. В текущей деятельности я удовлетворен сотрудничеством с компанией "Франчайзинг5", собравшей активных, компетентных и амбициозных сотрудников. Ценю саму возможность быть частью этой выдающейся команды и представлять ее в своем регионе.'],profit:"500 000",packaged:"28"});

- sec8Partners.push({img: "8",name:"Антон Сенев",adress:"Санкт-Петербург",opened:"декабрь 2015",title:"Самое важное – возможные перспективы франчайзинга в России",text:['Франчайзинг – это интереснейшее явление на просторах бизнеса в России. Я давно начал интересоваться этой темой, изучал рынок, ездил на бизнес-форумы и семинары. Сперва я раздумывал купить франшизу в сфере общепита, или бизнес, завязанный на услугах населению. Но, копав все больше, я вышел на "Франчайзинг5". Приехав к ним в офис, я представить не мог, каких масштабов уже достиг франчайзинг в России и какие перспективы возможны для развития. Я понял, что это мое. Сейчас я активно работаю с предпринимателями своего региона, развивая бизнес и помогая, в том числе, простым людям, получить доступный бизнес.'],profit:"244 400",packaged:"15"});

- sec8Partners.push({img: "5",name:"Денис Васильев",adress:"Санкт-Петербург, Набережная Обводного канала, д.92",opened:"октябрь 2016",title:"Я пересмотрел свои взгляды на франчайзинг в России",text:['Мое отношение к франчайзингу всегда складывалось скептически. Я думал, что это какая-то бутафория, созданная для того, чтобы вытягивать деньги из простых людей. Но мой друг, который приобрел франшизу одной из юридических компаний, перевернул мои взгляды. Являясь по природе очень любопытным человеком, я начал изучать рынок франчайзинга. На одном из бизнес-форумов я встретил представителей компании "Франчайзинг5". Так, начался новый виток в моей жизни – я превратился с предпринимателя, который помогает другим предпринимателям. И я не только зарабатываю, но и несу действительно благую цель.'],profit:"101 600",packaged:"3"});

- sec8Partners.push({img: "6",name:"Денис Жданов",adress:"Тюмень, ул. Харьковская, д.77, каб. 311",opened:"июль 2016",title:"Работа в команде – лучший выбор каждого предпринимателя",text:['Выражаю благодарность компании "Франчайзинг5" за то, что помогли пересмотреть мои взгляды на бизнес. Я всегда был предпринимателем, который работает один, партнерство или друзья – не позволительная вещь. Ведь в моем понимании, в бизнесе нет дружбы. Для себя начал рассматривать новое направление, чтобы диверсифицировать основной бизнес. Думал и про производство, уже хотел закупать оборудование. Чисто случайно вышел на "Франчайзинг5". Переговорив с менеджером у меня внутри зажегся огонек любопытства. А когда у меня возникает это чувство, я знаю, что почуял правильный путь. Буквально через неделю я приехал в Казань, чтобы познакомится поближе. Мне рассказали все принципы работы и предоставили большой объем информации. Сейчас, спустя полгода работы, я понял, на сколько, которые при случае помогут и подскажут – лучший выбор разумного человека.'],profit:"149 200",packaged:"7"});

- sec8Partners.push({img: "4",name:"Николай Алеев",adress:"Санкт-Петербург, ул. Кантемировская д.37 А, оф.419",opened:"июль 2016",title:"Не только новый знания о франчайзинге, но и прибыльный бизнес",text:['Я начинал наше сотрудничество с "Франчайзинг5" в качестве клиента, с целью развить собственную франчайзинговую сеть. Упаковал свой бизнес и остался очень доволен качеством работы. Во время упаковки, стал еще больше вникать в сам процесс создания франшиз. Это стало очень мне интересно. Чтобы в дальнейшем качественно развивать свою франчайзинговую сеть, я решил влиться в команду "Франчайзинг5" в качестве партнера. В итоге я получил не только отличные знания, но и хороший дополнительный заработок к своему основному направлению.'],profit:"122 000",packaged:"6"});

- sec8Partners.push({img: "7",name:"Максим Мушников",adress:"Екатеринбург, ул.Антона Валек, д.15",opened:"сентябрь 2016",title:"Не бойтесь начать что-то новое",text:['У меня был разный опыт работы. Я был и менеджером, и коммерческим директором, несколько раз открывал собственный бизнес. А теперь я – франчайзи. Наверное, это странное слово для русского языка. Особенно, когда ты франчайзи "Франчайзинг5". Несмотря на множество сложных слов и в целом не совсем понятный с первого раза бизнес, освоился я быстро. Сейчас уже активно веду работу с предпринимателями своего города по упаковке их бизнеса. Главное – не боятся начать что-то новое для себя и для рынка в России. Инновации всегда проходят тяжело, но и приносят всегда много прибыли.'],profit:"108 400",packaged:"4"});

- var visibleItems = 2;

section.sec.sec8
    div.container
        h3.ta-center.bold.mb1.
            Партнеры, которые уже ведут активную работу
        div.partners
            - for(var i = 0; i <= visibleItems; i++) {
                - var item = sec8Partners[i];
                - var index = i;
                
                div.partners__item
                    div.partners__col.partners__col_user
                        div.partners__user
                            img(src="img/sec8-user" + item.img + ".png", alt="").partners__user-img
                            div.partners__user-info
                                p.partners__name.
                                    #{item.name}
                                p.partners__info.partners__info_adress.
                                    #{item.adress}
                                p.partners__info.partners__info_opened.
                                    Открытие филиала:
                                    #{item.opened}
                    div.partners__col.partners__col_text
                        div.partners__topline
                        p.parthers__title.l.medium.mb1.
                            #{item.title}
                        div.parthers__text.xs
                            each paragraph in item.text
                                p.partners__text-paragraph.
                                    #{paragraph}
                    div.partners__row
                        div.partners__row-item
                            p.partners__row-name.xs.
                                Средняя прибыль в месяц
                            div.partners__row-value.partners__row-value_profit.
                                #{item.profit}
                        div.partners__row-item
                            p.partners__row-name.xs.
                                Упаковано с момента открытия
                            div.partners__row-value
                                |#{item.packaged}
                                |франшиз
            - }
            div#partnersHide.partners__hide
                - for(var i = visibleItems + 1; i <= (sec8Partners.length - visibleItems); i++) {
                    - var item = sec8Partners[i];
                    - var index = i;

                    div.partners__item
                        div.partners__col.partners__col_user
                            div.partners__user
                                img(src="img/sec8-user" + (index + 1) + ".png", alt="").partners__user-img
                                div.partners__user-info
                                    p.partners__name.
                                        #{item.name}
                                    p.partners__info.partners__info_adress.
                                        #{item.adress}
                                    p.partners__info.partners__info_opened.
                                        Открытие филиала:
                                        #{item.opened}
                        div.partners__col.partners__col_text
                            div.partners__topline
                            p.parthers__title.l.medium.mb1.
                                #{item.title}
                            div.parthers__text.xs
                                each paragraph in item.text
                                    p.partners__text-paragraph.
                                        #{paragraph}
                        div.partners__row
                            div.partners__row-item
                                p.partners__row-name.xs.
                                    Средняя прибыль в месяц
                                div.partners__row-value.partners__row-value_profit.
                                    #{item.profit}
                            div.partners__row-item
                                p.partners__row-name.xs.
                                    Упаковано с момента открытия
                                div.partners__row-value
                                    |#{item.packaged}
                                    |франшиз
                    -}
            div.ta-center
                button#showPartners.btn-round.btn-round_border.
                    Читать все отзывы